<div class="jumbotron center">
	<h1>About us</h1>
	<p>
		One Month Rails Pinteresting app
		
	</p>
</div>
<div class="panel">
	<p>
		We are working on our One Month Rails Pinteresting app
		
	</p>
</div>
